@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');

*{
    margin:0;
    padding: 0
}
$light:rgb(237, 250, 252);
$dark:rgb(14, 147, 151);

html, body{
    font-family: 'Rubik', sans-serif;
    background-color: white;
    display:flex;
    height:100%;
}

.flex{
    display:flex;
}
.content{
    width:100%;
}

.App-header{
background-color: $dark;
display: flex;
flex-direction: column;
justify-content: center;
font-size: calc(1px + 2vmin);
color: white
}
